{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Товар - {{ good.title }}</title>
    <link rel="stylesheet" href="{% static 'cars_store/css/style.css' %}"></head>
<body>
    <h1>Товар - {{ good.title }}</h1>
    <p>Категория - {{ good.category }}</p>
    <p><img src="{{ good.photo.url }}" width="200"></p>
    <p>Описание: {{ good.description }}</p>
    <p>Цена: {{ good.price }} p</p>
    <p><a href="{% url 'category_detail' pk=c_pk %}">Назад</a></p>
</body>
</html>

